body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; 
   /* background: linear-gradient(to right, #fff, #f0f0ff);*/
    background-size: cover; 
    color: #333;
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center everything */
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:1px;
    left:0;
    width:87%;
    z-index:3000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li:hover a{
  color: #192bc2;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.about-section {
    max-width: 900px;
    margin: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9); /* White background for readability */
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 36px; /* Bigger title */
    color: #0026a7;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 22px; /* Bigger content */
    line-height: 1.8;
    color: #444;
    text-align: justify;
}

.bold {
    font-weight: bold;
}
