body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(to right, #fff, #f0f0ff);
            color: black;
            font-family: Arial, sans-serif;
        }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    background: #fcfbfc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:1px;
    left:0;
    width:93%;
    z-index:1000;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin: 0 15px;
}

.nav-links li:hover a{
  color: #192bc2;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
        .register-container {
            position: relative;          
            background:linear-gradient(to right, #fff,#f0f0ff);
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(112, 165, 165);
            text-align: center;
        }
        .input-group {
            margin: 20px 0;
        }
        input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        button {
            width: 100%;
            padding: 10px;
             background: linear-gradient(to right,#052F3C,#7FC5DB,#7FC5DB,#052f3c);
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }
        button:hover {
            background: #408BA2;
        }
